@import "tailwindcss";

@theme {
  --color-apple-bg: rgba(45, 45, 45, 0.8);
  --color-apple-menu-bg: rgba(30, 30, 30, 0.7);
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: transparent !important;
}

/* Prevent text selection during drag */
* {
  user-select: none;
  -webkit-user-drag: none;
}
